# Ignore Gradle build files
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Ignore build directories
build/

# Ignore test reports
build/reports/
build/test-results/
build/tmp/

# Ignore compiled class files
*.class

# Ignore execution history and file hashes
.gradle/**/executionHistory/*
.gradle/**/fileHashes/*
.gradle/**/buildOutputCleanup/*
.gradle/file-system.probe

# Ignore IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Keep README.md
!README.md
